html, body
    font-family: "PingFangSC-Regular","PingFangSC-Medium","sans-serif"
    font-size: 0.35rem
    color: #908ba9
body 
	line-height: 1
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	font-size: inherit
	font: inherit
	vertical-align: baseline
	margin: 0px
	padding: 0px
	border: 0px
	box-sizing: border-box
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
    display: block
ol, ul 
	list-style: none
blockquote, q 
	quotes: none
blockquote:before, blockquote:after,q:before, q:after 
	content: ''
	content: none
table 
	border-collapse: collapse
	border-spacing: 0
input,button
	border: 0px
	outline: 0px
	background-color: transparent
a
	color: #908ba9
a,a:link,a:visited,a:hover
    text-decoration: none
.img-response
	display: block
	max-width: 100%
	height: auto
.icon.iconfont
	display: inline-flex
	align-items: center
	justify-content: center
.icon.icon-qm
	cursor: pointer
.app
	width: 100%
	min-height: 100vh
	padding-top: 1.07rem
	background-color: #343047
	background-image: url('/static/image/pokerbg.png')
	background-repeat: no-repeat
	background-position: top center
	background-size: cover
/*全局动画*/
@keyframes  bigAssButtonPulse {
	from { 
		background-color: #749a02 
		box-shadow: 0 0 25px #333
	}
	50% { 
		background-color: #91bd09 
		box-shadow: 0 0 50px #91bd09 
	}
	to { 
		background-color: #749a02
		box-shadow: 0 0 25px #333
	}
}
@keyframes redPulse {
	from { 
		background-color: #007d9a 
		box-shadow: 0 0 9px #333 
	}
	50% { 
		background-color: #2daebf
		box-shadow: 0 0 18px #2daebf
	}
	to { 
		background-color: #007d9a
		box-shadow: 0 0 9px #333 
	}
}
@keyframes fadeInDown {
  from {
    opacity: 0.8
    transform: translate3d(0, 0px, 0)
  }
  to {
    opacity: 1
    transform: none
  }
}
.bigAssButtonPulse
	animation-name: bigAssButtonPulse
	animation-duration: 1s
	animation-iteration-count: infinite
.redPulse
	animation-name: redPulse
	animation-duration: 1s
	animation-iteration-count: infinite
.list-enter
  	transform: translateY(0px)
.list-enter-active 
	animation-name: fadeInDown
	animation-duration: 0.5s
	animation-fill-mode: both
/*全局动画结束*/
/*全局记录样式*/
.betrecord
	display: flex
	flex-direction row
	align-items center 
	justify-content: space-between
	width: 100%
	height: 1.17rem
	font-size: 0.35rem
	color: #fff
	background-color: rgba(38,35,53,0.8)
	&.same
		background-color: rgba(38,35,53,0.8)
	&.dragon
		background-color: rgba(19,29,128,0.8)
	&.tiger
		background-color: rgba(255,173,43,0.7)
	.betrecord-icon
		width: 20%
		text-align: center
		.iconlong
			color #f5b116
		.iconArtboard
			color rgb(38,35,53)
		.iconchiping1
			color: #fff
	.betrecord-player
		width: 30%
		text-align center
		overflow hidden
		text-overflow ellipsis
		white-space nowrap
	.betrecord-zhdesc
		width 20%
		text-align center
	.betrecord-amount
		width: 30%
		text-align center
/*全局记录样式结束*/