flex_row_between()
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
absolute_center()
    display: flex
    justify-content: center
    align-items: center
align-center()
    display: flex
    align-items: center
align-start()
    display: flex
    align-items: flex-start
border-radius()
    border-radius: arguments
line-height()
    line-height: arguments
border()
    border: arguments
text-center()
    text-align: center
text-left()
    text-align: left 
text-right()
    text-align: right 